@model CarControl.Common.ViewModel.VeiculoViewModel

@{
    ViewData["Title"] = "Editar veículo";
}

<h1 class="Titulo">Editar veículo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarVeiculoCadastrado" id="searchForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TpVeiculo" class="control-label">Tipo de veículo</label>
                <input asp-for="TpVeiculo" class="form-control" />
                <span asp-validation-for="TpVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <input asp-for="Cor" class="form-control" />
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacaVeiculo" class="control-label">Placa do veículo</label>
                <input asp-for="PlacaVeiculo" class="form-control" />
                <span asp-validation-for="PlacaVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NmCondutor" class="control-label">Nome do condutor</label>
                <input asp-for="NmCondutor" class="form-control" />
                <span asp-validation-for="NmCondutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfCondutor" class="control-label"> CPf do condutor</label>
                <input asp-for="CpfCondutor" class="form-control" />
                <span asp-validation-for="CpfCondutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVeiculo" hidden class="control-label">Código do Veículo</label>
                <input asp-for="IdVeiculo" hidden id="idVeiculo" class="form-control" />
                <span asp-validation-for="IdVeiculo" hidden class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="btnSalvarEdicao"  value="Salvar alterações" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Voltar ao menu  |</a>
    <a asp-controller="Veiculo" asp-action="CadastroDeVeiculo">Inserir novo Veículo  |</a>
    <a asp-controller="Veiculo" asp-action="VeiculosCadastrados">Consultar veículos cadastrados</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/jscript">
        $('#btnSalvarEdicao').click(function () {
            var url = "/Veiculos/EditarVeiculoCadastrado";
            var id = $("#idVeiculo").val();
            $.post(url, { idVeiculo: id} 
            });
        })
    </script>

}
