body {
    background-color: #FFFFFF;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
   
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.btnCad {
    text-align: center;
    background-color: #98009D;
    border-radius: 20px;
    color: #ffff;
    Height: 210px;
    Width: 200px;
    border-top-width: 90px;
    margin:10px;
}

.fundoMenu {
    background-color: #D595D8; 
/*    #98009D*/
    border-radius: 20px;
    padding:40px

}

.flagVagaDisponivel {
    background-color: #39FF14;
    color: #39FF14;
    text-align: center;
}

.flagVagaIndisponivel {
    background-color: #FF0000;
    color: #FF0000;
    text-align: center;
}

.tdIdVeiculo {
    text-align: center;
}