@{
    ViewData["Title"] = "Menu Principal";
}

<div class="text-center">
    <div>
        <img src="../Imagens/Logos/logoSite.png" />
    </div>

    <div class="jumbotron fundoMenu">
        <a href="CadastroDeVeiculo/CadastroDeVeiculo" Class="btn btnCad">Cadastrar Veículo</a>
        <a href="CadastroDeVeiculo/VeiculosCadastrados" Class="btn btnCad">Consulta Veículos</a>
        <a href="RegistroDeMovimento/RegistroDeEntrada" Class="btn  btnCad">Registrar Entrada</a>
        <a href="RegistroDeMovimento/RegistroDeSaida" Class="btn  btnCad">Registrar Saida</a>
        <a href="ConsultarVagas/ConsultarVagas" Class="btn  btnCad">Ver vagas</a>
    </div>
    <div>
        <a asp-controller="Login" asp-action="LoginUsuario">Sair do sistema</a>
    </div>
</div>
